<h2>Персональний менеджер фінансів</h2>
<p>Вітаю на сторінці додатку "МА" - персональному менеджері фінансів.</p>

<p>Додаток допоможе по іншому подивитись на стан ваших фінансів - зберігати, переглядати, корегувати ваші витрати та доходи, генерувати звіти.</p>

<p><b><i>Гроші не мають значення, поки вони у вас є.</i></b> Джоннi Мiллер.</p>

<p>[зроблено в рамках курсу "Розробка вебдодатків на Ruby від SoftServe". Андрюхіна Маргарита]</p>
