// Sassy
@use "bootstrap";
@use "operations";

.content {
    margin: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.error-msg {
    color: #f00;
    font-size: 12px;

}